service:
  name: home-cloud-server
  domain: platform
  entrypoint: http://localhost:2221

  logging:
    level: debug

  network:
    bind_address: localhost
    bind_port: 8000
    internal:
      host: host.docker.internal
      port: 8000
