html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  padding-top: 56px;
  background-color: #f5eefa;
}

.navbar {
  background-color: #643f91;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

/* highlight bar under the active tab on the navbar */
a.active {
  border-bottom: 2px solid white;
}

/* Home Cloud name next to logo in navbar */
.navbar-brand {
  padding-left: 1rem;
}

.no-top-margin {
  margin-top: 0px;
}

/* onboarding nav */
.card {
  max-width: 40rem;
  padding: 0;
  border: none;
  border-radius: 0.5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.center {
  text-align: center;
}

/* for trusted ssh keys */
.textarea-fill {
  width: 100%;
  height: 100%;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tab-content {
  padding: 2.3rem;
}

.header {
  padding-top: 0.75rem;
  padding-bottom: 1rem;
}

/* mobile nav bar slideout */
@media (max-width: 991.98px) {
  main.container {
    padding-top: 0px;
  }

  .offcanvas-collapse {
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #212529;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }
}
